/* ===============================
   GOOGLE FONT
================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* ===============================
   GLOBAL
================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#f4f7fb;

}


/* ===============================
   NAVBAR
================================== */

.navbar{

    background:#2563eb !important;

}

.navbar-brand{

    font-size:22px;

    font-weight:700;

}


/* ===============================
   CARD
================================== */

.card{

    border:none;

    border-radius:18px;

    transition:.3s;

}

.card:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 35px rgba(0,0,0,.12);

}


/* ===============================
   INPUT
================================== */

.form-control{

    border-radius:12px;

    padding:15px;

}

.form-control:focus{

    border-color:#2563eb;

    box-shadow:0 0 0 .2rem rgba(37,99,235,.15);

}


/* ===============================
   BUTTON
================================== */

.btn-primary{

    background:#2563eb;

    border:none;

    border-radius:12px;

    padding:14px;

    font-weight:600;

}

.btn-primary:hover{

    background:#1d4ed8;

}


/* ===============================
   PROGRESS
================================== */

.progress{

    height:22px;

    border-radius:20px;

}

.progress-bar{

    font-weight:bold;

}


/* ===============================
   SCORE
================================== */

.display-3{

    font-size:80px;

    font-weight:700;

}


/* ===============================
   BADGE
================================== */

.badge{

    padding:10px 25px;

    border-radius:30px;

}


/* ===============================
   RECOMMENDATION
================================== */

#recommendation{

    padding-left:20px;

}

#recommendation li{

    margin-bottom:10px;

}


/* ===============================
   RESULT
================================== */

#resultCard{

    animation:fade .5s;

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}


/* ===============================
   MOBILE
================================== */

@media(max-width:768px){

.display-3{

    font-size:55px;

}

.navbar-brand{

    font-size:18px;

}

}